.formm-style {
    width: 500px;
    height: 500px;
    background-color: rgb(0, 255, 238);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-top: 10%;
    
    
  }

  .forminner{
    margin-left: 80px;
  }

  .dd{
    color: #f5f5f5;
    text-decoration: none;
  }

  .bankname{
    
    text-shadow: 1px 1px 1px red, 2px 2px 1px red;
    font-size: 50px;
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
}